body {
    margin: 0;
    background: linear-gradient(to bottom right, #fa4c63,#f58844);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    font-family: "Momo Trust Display", sans-serif;
    
    height: 60px;
    /* font-size: 17px;a */
    font-weight: 400;
    background: linear-gradient(90deg,#fa4059,#ff5e86,#fc7623);
    box-shadow: 7px 7px 50px rgb(255, 255, 255);
    border-radius: 80px 80px 80px 80px;
    word-spacing: 0.5px;
    letter-spacing: 3px;
    background-size: 200%; 
    cursor: pointer;
    transition: 0.3s ease-in;
}
.gift{
        font-size: 24px;
    position: relative;
    bottom: 0;              /* define starting position */
    transform: rotate(0deg); /* define starting rotation */
    transition: all 0.6s ease; /* smooth transition both ways */
}
.button:hover{
    background-position: right;
}

.button:hover .gift{
    transition: 0.5s ease;
    bottom: 50px;
    left: 30px;
    rotate: 30deg;
    font-size: 50px;
    }
.bd-hd {
    font-family: "Momo Trust Display", sans-serif;
    font-size: 2.5em;
    color: #2b181c;
    margin-bottom: 10px;
}

/* Message text */
.text {
    font-size: 1.2em;
    color: #ffffffc2;
    margin-bottom: 20px;
    font-family: "Momo Trust Display", sans-serif;
    font-size: 15px;
}
.container {
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    background-color: #ffffff2f;
    box-shadow: 0 0 20px rgba(90, 79, 79, 0.1);
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.bd-cont {
    width: 500px;
    display: none;
    margin-top: 20px;
      transition: all 0.8s ease;

}
.hey{
    width: 400px;
    height: 500px;
    font-family: "Momo Trust Display", sans-serif;
    position: relative;
    bottom: -40px;
    animation: hey 3s ease;
}

@keyframes hey {
    0%{
        opacity: 0;
    }
    50%{
        opacity:50%;
    }
    100%{
        opacity: 100%;
    }
}
.first{
    font-size: 50px;
}
.back{
    font-size: 30px;
    font-weight: lighter;
}
#baloon1{
    width: 200px;
    height: 500px;
}